<div class="row">
    <div class="col-lg-12 col-md-12 col-12 text-center">
        <img src="../../assets/img/san_francisco.png" width="90%">
    </div>

    <div class="col-lg-12 col-md-12 col-12 text-center">
        <div class="brand_tagline">
            Real estate investing information that matters to you
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-12 text-center mt-2">
        <div class="try-beta_text">
            Limited to San Francisco Bay Area --- Join our BETA!
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-12 text-center mt-4 ">
        <button class="sign-in sign-in_linkedin" (click)="goToSignup('linkedin')">sign up with linkedin</button>
    </div>

    <div class="col-lg-12 col-md-12 col-12 text-center mt-2 ">
        <button class="sign-in sign-in_default" (click)="goToSignup('default')">Sign in</button>
    </div>
</div>